Source: endlessos-base-media
Section: non-free/misc
Priority: extra
Maintainer: EndlessMobile <endlessmobile@gmail.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: endlessos-base-media
Replaces: endless-os-media
Conflicts: endless-os-media
Provides: endless-os-media
Architecture: all
Depends: 
Description: EndlessOS default media
 This is a package that contains the default media files (images, music, etc.)
