Source: eos-media
Section: non-free/misc
Priority: extra
Maintainer: Endless Mobile <maintainers@endlessm.com>
Build-Depends: debhelper (>= 7.0.0),
               cdbs,
               gnome-pkg-tools,
               dh-autoreconf      
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-media
Architecture: all
Depends: ${misc:Depends},
         eos-default-background (>= 1.4.0)
Description: EndlessOS Media
 This is a package that contains the default media files (images, music, etc.)

Package: eos-default-background
Architecture: all
Depends: ${misc:Depends}
Replaces: eos-media (<< 1.4.0)
Breaks: eos-media (<< 1.4.0)
Description: EndlessOS default background
 This is a package that contains the default wallpaper
